body{
    font-family: Arial, sans-serif; /* Letra */
    background-color: rgb(194, 188, 188); /* Color del fondo */
    margin: 0; /* Margen exterior */
    padding: 20px; /* espacio interno, como borde */

}

.titulo{
    text-align: center;
    color: #d6be90;
}
.titulo_2{
    color: #d6be90;
}

.container{
    max-width: 900px; /* Ancho maximo*/
    margin: auto; /* Lo centra horizontalmente */
    background: white; /* fondo blanco */
    padding: 25px; /* espacio interno */
    border-radius: 10px; /* equinas redondeadas */
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); /* sombra(efecto de la tarjeta) */
}

.form-row {
    display: flex; /* Elementos en fila horizontal */
    gap: 15px; /* espacio entre inputs */
    margin-bottom: 15px; /* Espacio hacia abajo */
}

.form-group {
    flex: 1; /* Todos ocupan el mismo espacio */
    display: flex; 
    flex-direction: column; /* Label arriba, input abajo */
}

label {
    font-size: 14px;   /* Cambia el tamaño del texto */
    margin-bottom: 5px; /* Da espacio entre etiqueta y input */
}

input {
    padding: 8px; /* Espacio dentro del input */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 5px; /* Esquina redondeadas */
}

button {
    background-color: #b89f71; /* Color morado */
    color: white; /* Texto blanco */
    padding: 10px; 
    border: none; /* Sin borde */
    border-radius: 5px;
    cursor: pointer; /* Cursor cambia a la mano */
}

button:hover {
    background-color: #b49966; /* Cambia de color cuando pasas el mouse */
}

.btn-container{
    display: flex;
    justify-content: center;
}

.small{
    max-width: 211px;
}
